[Unit]
Description=x.com Service daemon
After=network.target

[Service]
Type=simple
# Another Type option: forking

User=monius
Environment="PYTHONHOME=/opt/anaconda3/envs/deploy/"
Environment="PYTHONPATH=/opt/anaconda3/envs/deploy/lib"
WorkingDirectory=/home/monius/Documents/code/flask-deploy/x.com
ExecStart=/opt/anaconda3/envs/deploy/bin/uwsgi x.com.ini
Restart=on-failure
KillMode=mixed
SendSIGHUP=yes
TimeoutStopSec=1
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target